<!DOCTYPE html>
<html>
   <head>
      <title>Alefblog</title>
      <link rel="stylesheet" href="/css/styles.css">
   </head>
   <body class="max-width mx-auto px3 ltr">
      <div class="content index py4">
         <header id="header">
            <div id="title">
               <h1 style="font-family: 'Permanent Marker', cursive;font-size: 2.5em;color:#a56fb0">Alefblog</h1>
               Welcome to my blog. Have a nice read!
            </div>
            <div id="nav">
               <b>
                  <ul>
                     <li class="icon">
                        <a href="#"><i class="fas fa-bars fa-2x"></i></a>
                     </li>
                     <li><a href="/blog/">Homepage</a></li>
                     <li><a href="/blog/about/">About Me</a></li>
                     <li><a href="/blog/posts/">My Posts</a></li>
                  </ul>
               </b>
            </div>
         </header>
         <section id="writing">
            <h1>Whoa, a whole page just about me?</h1>
            <div style="display: flex;align-items:flex-start;">
            <img src="https://avatars2.githubusercontent.com/u/36800357?s=460&u=8bf60a300a3780b82cb4676d2bd314ea8c20305c&v=4" style="max-width: 150px;margin-top: 20px;">
            <p style="margin-left: 10px;">Okay, hear me up. This is me talking about myself.<br><br>I'm a newbie developer from Turkey who's in love with JavaScript/NodeJS. I'm best at making useless and abandoned projects like this blog. Check out my other stuff on <a href="https://github.com/Alefben">Github</a> if you want!<br><br>Other than programming, I enjoy drawing webtoons (even though I have never published one!), designing graphics and playing videogames.</p>
            </div>
         </section>
         <footer id="footer">
            <div class="footer-left">
               All Rights Reserved &copy; Alefben | Theme: <a href="https://github.com/probberechts/hexo-theme-cactus">Cactus Dark</a>
            </div>
         </footer>
      </div>
   </body>
</html>